includes:
    - ./vendor/nunomaduro/larastan/extension.neon
    - ./vendor/spatie/laravel-data/phpstan-baseline.neon
    - phpstan-baseline.neon

parameters:

    paths:
        - app/

    # Level 9 is the highest level
    level: 9

    checkGenericClassInNonGenericObjectType: false
