parameters:
	ignoreErrors:
		-
			message: "#^Method App\\\\Actions\\\\Fortify\\\\CreateNewUser\\:\\:passwordRules\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Actions/Fortify/CreateNewUser.php

		-
			message: "#^Method App\\\\Actions\\\\Fortify\\\\ResetUserPassword\\:\\:passwordRules\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Actions/Fortify/ResetUserPassword.php

		-
			message: "#^Method App\\\\Actions\\\\Fortify\\\\UpdateUserPassword\\:\\:passwordRules\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Actions/Fortify/UpdateUserPassword.php

		-
			message: "#^Parameter \\#1 \\$photo of method App\\\\Models\\\\User\\:\\:updateProfilePhoto\\(\\) expects Illuminate\\\\Http\\\\UploadedFile, string given\\.$#"
			count: 1
			path: app/Actions/Fortify/UpdateUserProfileInformation.php

		-
			message: "#^Parameter \\#1 \\$value of static method Illuminate\\\\Support\\\\Str\\:\\:lower\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: app/Providers/FortifyServiceProvider.php
